@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #050810;
}
 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-white-mintix: #F1F1F1;
  --color-gray-mintix: #A4A7AA;
  --color-green-mintix: #2FC16D;
  --color-primary-mintix: #0085FE;
  --color-primary-background: #1e232d;
  --color-primary-border: #FFFFFF1A
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050810;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
