@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #050810;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-white-mintix: #f1f1f1;
  --color-gray-mintix: #a4a7aa;
  --color-green-mintix: #2fc16d;
  --color-primary-mintix: #0085fe;
  --color-primary-background: #1e232d;
  --color-primary-border: #ffffff1a;

  --background-image-glass-gradient: linear-gradient(
    to right,
    color-mix(in srgb, white 20%, transparent),
    color-mix(in srgb, white 10%, transparent)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050810;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
